*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Space Grotesk',sans-serif;
    background:
        radial-gradient(circle at 75% 18%, rgba(255,215,120,.08), transparent 18%),
        radial-gradient(circle at 15% 20%, rgba(73,108,255,.18), transparent 30%),
        radial-gradient(circle at 50% 100%, rgba(112,43,255,.12), transparent 40%),
        linear-gradient(180deg,#08111f 0%,#060c18 40%,#03060d 100%);
    color:#fff;
    overflow-x:hidden;
} 

/*====================================
      CONSTELLATION NAVIGATION
=====================================*/

.constellation-nav{
    position:fixed;
    top:30px;
    left:63%;
    transform:translateX(-50%);

    display:flex;
    align-items:center;
    justify-content:center;
    gap:40px;

    z-index:999;
}

.star{
    display:flex;
    align-items:center;
    gap:8px;

    color:#EEF3FF;
    text-decoration:none;
    font-size:20px;
    font-weight:500;
    letter-spacing:1px;
    text-shadow:
        0 0 10px rgba(255,255,255,.25),
        0 0 20px rgba(255,255,255,.15);


    transition:0.3s;
}

.star::before{
    content:"✦";
    color:#FFD56A;
    font-size:10px;
    text-shadow:
        0 0 6px #FFD56A,
        0 0 14px #FFD56A,
        0 0 24px rgba(255,213,106,.7);

    animation:twinkle 2s infinite alternate;
}

/* ---------- Hover ---------- */

.star:hover{
    color:#FFD56A;
    transform:translateY(-3px);
}


.star:hover::before{
    transform:scale(1.4) rotate(180deg);
    text-shadow:
        0 0 10px #FFD56A,
        0 0 22px #FFD56A,
        0 0 40px #FFD56A;
}

/* ---------- Active Section ---------- */

.star.active{
    color:#FFD56A;
}

.star.active::before{
    transform:scale(1.3);
}
.stars{

    position:absolute;
    inset:0;
    pointer-events:none;

    background-image:
    radial-gradient(2px 2px at 8% 18%,#fff,transparent),
    radial-gradient(2px 2px at 20% 75%,#fff,transparent),
    radial-gradient(1px 1px at 35% 30%,#fff,transparent),
    radial-gradient(2px 2px at 60% 15%,#fff,transparent),
    radial-gradient(2px 2px at 82% 22%,#fff,transparent),
    radial-gradient(1px 1px at 94% 48%,#fff,transparent),
    radial-gradient(2px 2px at 70% 82%,#fff,transparent),
    radial-gradient(1px 1px at 28% 62%,#fff,transparent);

    animation:twinkle 5s ease-in-out infinite alternate;

    opacity:.9;
}

/* ================= HERO ================= */

.hero{
    width:100%;
    height:100vh;
    position:relative;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding:0 8%;
}

/* ================= TEXT ================= */

.hero-content{
    width:52%;
    max-width:700px;
    margin-left:-40px;
    padding-right:80px;
    margin-top:50px;
    z-index:10;
}

.hero-content h1{
    font-size:24px;
    letter-spacing:5px;
    color:#D8E6FF;
    margin-bottom:18px;
    text-shadow:0 0 12px rgba(180,210,255,.45);
}

.hero-content h2{
    font-size:55px;
    line-height:0.95;
    font-weight:700;
    color:#fff;
    text-shadow:
        0 0 20px rgba(255,255,255,.15),
        0 0 45px rgba(255,255,255,.08);

    margin-bottom:10px;   /* Correct */
}

.hero-cloud{
    position:absolute;
    left:-120px;
    top:-70px;
    z-index:0;
}

.hero-cloud span{
    position:absolute;
    background:rgba(255, 255, 255, 0.211);
    filter:blur(40px);
    border-radius:50%;
    box-shadow:0 0 30px rgba(255, 255, 255, 0.084);
}

.hero-cloud span:nth-child(1){
    width:200px;
    height:130px;
    left:0;
    top:20px;
}

.hero-cloud span:nth-child(2){
    width:380px;
    left:120px;
    top:0;
}

.hero-cloud span:nth-child(3){
    width:200px;
    height:120px;
    left:260px;
    top:45px;
}
.role{
    font-size:25px;
    font-weight:600;
    color:#8CB6FF;
    min-height:45px;
    margin-bottom:25px;
    margin-top:0;
}

.typing{
    color:#8CB6FF;
}

.typed-cursor{
    color:#FFD56A;
    font-size:30px;
    animation:blink .7s infinite;
}

.description{
    max-width:600px;
    font-size:18px;
    line-height:1.5;
    color:#C9D4E8;
    margin:25px 0 35px;
}

.hero-buttons{
    display:flex;
    gap:20px;
}

.hero-buttons a{
    text-decoration:none;
    padding:14px 32px;
    border-radius:40px;
    font-size:16px;
    font-weight:600;
    transition:.3s ease;
}
.btn-primary{
    background:#FFD56A;
    color:#08111f;
    box-shadow:0 0 20px rgba(255,213,106,.35);
}

.btn-primary:hover{
    transform:translateY(-4px);
    box-shadow:0 0 35px rgba(255,213,106,.55);
}
.btn-secondary{
    border:2px solid #FFD56A;
    color:#FFD56A;
    background:transparent;
}

.btn-secondary:hover{
    background:#FFD56A;
    color:#08111f;
}

/* ================= PROFILE ================= */

.profile{
    position:absolute;
    right:12%;
    top:55%;
    transform:translateY(-50%);

    width:365px;
    height:365px;

    border-radius:50%;
    overflow:hidden;

    border:2px solid #a79763;

    box-shadow:0 0 20px rgba(119, 106, 61, 0.25);

    z-index:5;

    animation:float 6s ease-in-out infinite;
}

.profile img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:center;
    display:block;
}

.profile:hover{

    transform:translateY(-50%) scale(1.05) rotate(2deg);

    border-color:#FFD56A;

    box-shadow:
        0 0 20px #af9c6a,
        0 0 40px rgba(147, 129, 83, 0.7),
        0 0 70px rgba(255,213,106,.35);
}

.profile img{

    transition:transform 1s ease;
}

.profile:hover img{

    transform:scale(1.2);
}



/* ---------- Twinkle ---------- */

@keyframes twinkle{

    from{

        opacity:.6;

        transform:scale(1);

    }

    to{

        opacity:1;

        transform:scale(1.25);

    }

}

@keyframes blink{
    50%{
        opacity:0;
    }
}

@keyframes float{

    0%{
        margin-top:0;
    }

    50%{
        margin-top:-15px;
    }

    100%{
        margin-top:0;
    }

}